.homebg {
    position: fixed;
    background-color: #1e4f65;
    display: flex;
    height: 90%;
    width: 100%;
}

.infobox {
    flex: 1;
    background-color: #7E5CDB;
    padding: 20px;
    height: 100%;
    width: 20%;
}

.petscreen {
    flex: 1;
    align-content: right;
    align-self: center;
}

.customizebar {
    background-color: #7E5CDB;
    padding: 20px;
    height: 100%;
    width: 20%;
    flex: 1;
}

.customizebutton{
    align-self: center;
    width: 128px;
    height: 128px;
}

.customizebutton.blue {
    background-color: #4d95db;
}

.customizebutton.yellow {
    background-color: #ffde59;
}