#taskBox {
    background-color: #7E5CDB;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
}

#taskName {
    align-self: left;
    padding-right: 100px;
    font-weight: bold;
}

#taskButton {
    align-self: right;
    float:right;
}